*.class
*~
*.pyc
*.o
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.idea/
*.ipynb
.DS_Store
*.zip
*.bbl
*.blg
*.dvi
build
data/models
/CMakeFiles
CMakeCache.txt
imgui.ini
.vscode
CMakeUserPresets.json
data/*.pak
data/shaders/*.spv